@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rock+Salt&display=swap");

body {
  background-color: black !important;
  color: white !important;
  display: flex;
  flex-direction: column;
}

#navBar,
.navbarDiv {
  height: 20vh;
}

#navBarLogoDesktop {
  height: 100%;
}

#navBarLogoMobile {
  height: 100%;
}

#desktopOverlayLogo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  z-index: 1050; /* Ensure it's above everything else */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease-in-out;
}

#desktopOverlayLogo img {
  height: 100vh;
  transition: all 1s ease-in-out;
  will-change: transform;
}

#content {
  width: 90%;
  display: flex;
  flex-flow: column;
  margin: auto;
}

#intro {
  height: 80vh;
}

#introContent {
  height: 100%;
  width: 100%;
  text-align: center;
}

#gifDiv {
  height: 60%;
  background-image: url(assets/TJD.gif);
  background-repeat: no-repeat;
  background-size: fill;
  background-position: 50% 50%;
}

#mainContent {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#joinBtn {
  width: 250px;
}

.otherContent {
  min-height: 100vh;
  padding-block: 2rem; /* adds space above and below  */
  box-sizing: border-box;
}

#scheduleTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#scheduleText {
  font-family: "Rock Salt", cursive;
  font-size: 45px;
}

#dateTimeText {
  font-family: "Montserrat", cursive;
  font-weight: bold;
  font-size: 20px;
}

/*Desktop View*/
@media (min-width: 1200px) {
  #scheduleTitle {
    flex-direction: row;
    writing-mode: vertical-lr; /* Makes text vertical */
    transform: rotate(-180deg); /* Flip upside down if needed */
    text-align: center;
    white-space: nowrap;
  }
  #scheduleText {
    font-family: "Rock Salt", cursive;
    font-size: 40px;
  }
  #dateTimeText {
    padding-top: 50px;
  }
}

#scheduleContent {
  text-align: center;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Montserrat", cursive;
}

.dayActivity {
  /*border: none !important;*/
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.classDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.classType {
  width: 65%;
  border: 2px solid white;
}

.classDay {
  width: 30%;
  background-color: white;
  color: black;
}

#schedulePricing {
  text-align: center;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Montserrat", cursive;
}

.pricingDiv {
  width: 100%;
  border: 2px solid white;
  border-radius: 20px;
  margin-bottom: 10px;
}

.pricingCat {
  height: auto;
  border-bottom: 2px solid white;
  background-color: white;
  color: black;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pricingPrice {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

#scheduleRemarks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Montserrat", cursive;
  font-size: 13px;
}

#registerBtn {
  width: 200px;
}

#registerBtn:hover {
  color: black;
}

#scheduleRemarks a {
  color: mintcream;
  text-decoration: none;
}

#roster {
  height: 100%;
}

#rosterTitle {
  text-align: center;
  font-family: "Rock Salt", cursive;
  font-size: 40px;
}

.rosterSlot {
  /*position: relative;*/
  font-family: "Montserrat", cursive;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid white;
}

/*
.fighterName {
  position: absolute;
  z-index: 2;
}
*/

.rosterHoverContent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  /*z-index: 1;*/
}

.fighterImg {
  height: 100%;
  width: 50%;
}

.fighterImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1200px) {
  .rightSide img {
    object-position: 65% 50%;
  }
  .leftSide img {
    object-position: 20% 50%;
  }
}

.fighterInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: left;
  padding: 15px;
  height: 100%;
  width: 50%;
}

/*
#schedule div {
  background-image: url(assets/schedule.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
*/

footer {
  height: 5vh;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}
